:root {
  font-family: 'Calibri';
  --hidden-bg-color: rgb(154,154,154);
}

.grid {
  margin: auto;
}

body{
  background-color: rgb(44,44,44)
}



TD {
  font-size: 10pt;
  border: 1px solid #222222;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
  table-layout: fixed;
  word-wrap: break-word;
}

.revealed {
  background: white;
}

.hidden {
  background: var(--hidden-bg-color)
}

.flagged {
  background: var(--hidden-bg-color)
}

.header {
  text-align: center;
  font-family: "SF Mono", monospace;
}

h1.title
{
    text-align: center;
    font-family: "SF Mono", monospace;
    text-shadow: 1.5px 1.5px;

}
h1.title:visited
{
    text-decoration: none;
    color: white;
}

hr.maindiv
{
    border-top: 4px solid #bbb;
    border-radius: 5px;
    width: 800px;
    height: 2px;
}
