body{
    margin: 0;
    background-color: rgb(44, 44, 44)
}

.wrapper {
    color: white;
}

.header {
    text-align: center;
    font-family: "SF Mono", monospace;
  }
  
h1.title
{
    text-align: center;
    font-family: "SF Mono", monospace;
    text-shadow: 1.5px 1.5px;

}
h1.title:visited
{
    text-decoration: none;
    color: white;
}

hr.maindiv
{
    border-top: 4px solid #bbb;
    border-radius: 5px;
    width: 800px;
    height: 2px;
}
