*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}

body{
    margin: 0;
    background-color: rgb(44, 44, 44)
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){ border-top: none; }

.cell:nth-child(3n+1){ border-left: none; }

.cell:nth-child(3n+3){ border-right: none; }

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){ border-bottom: none; }

.cell.x,
.cell.o{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before{ transform: rotate(45deg);}

.cell.x::after{ transform: rotate(-45deg);}

.cell.o::before,
.cell.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: black;
}

.cell.o::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.cell.o::after{
    width: calc(var(--mark-size)* .7);
    height: calc(var(--mark-size)* .7);
    background-color: white;

}

.winning-message{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: fiex;
    justify-content: top;
    align-items: top;
    color: white
.winning-message button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.winning-message.show{
    display: flex;
}

h1.title
{
    text-align: center;
    font-family: "SF Mono", monospace;
    text-shadow: 1.5px 1.5px;

}
h1.title:visited
{
    text-decoration: none;
    color: white;
}

hr.maindiv
{
    border-top: 4px solid #bbb;
    border-radius: 5px;
    width: 800px;
    height: 2px;
}
