:root {
  font-family: 'Calibri';
}

.grid {
  margin: auto;
}

TD {
  font-size: 10pt;
  border: 1px solid #222222;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

.revealed {
  background: pink;
}

.hidden {
  background: white;
}

.flagged {
  background: red;
}
