:root {
  font-family: 'Calibri';
}

.board {
  margin: auto;
}
TR {
  margin: auto;
}
TD {
  font-size: 10pt;
  border: 1px solid #222222;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

TD.revealed {
  background: pink;
}

TD.hidden {
  background: white;
}

TD.flagged {
  background: white;
}
