:root{
    font-family: 'Calibri'
}

.grid {
    margin:auto;
    background: black;

    TD {
        font-size: 14pt;
        border: 4px rgb(249, 249, 249);
        background: gray;
        width: 16px;
        height: 16px;
        text-align: center;
        cursor: pointer;
    }
}